.ScrollBar__Messages {
	overflow-y: scroll;
	width: 98%;
	height: 600px;
	margin: 15px;

	.BlockMap {
		display: flex;
		border: rgb(202, 202, 255) 2px solid;
		height: 150px;
		background-color: rgb(186, 223, 255);
		margin-bottom: 15px;
		.CRequest_Text {
			display: flex;
			flex-direction: column;
			padding: 15px;
			width: 70%;
		}
		.BlockButton {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-right: 15px;
			.b1 {
				border: none;
				height: 50px;
				width: 150px;
				background-color: rgb(68, 247, 253);
				border-radius: 15px;
			}
			.b2 {
				height: 50px;
				width: 150px;
			}
			.b3 {
				border-radius: 15px;
				background-color: rgb(68, 247, 253);
				border: none;
				height: 50px;
				width: 150px;
			}
		}
		.BlockPhoto {
			float: left;
			height: 100%;
			width: 15%;
			margin-right: 25px;
			border: rgb(235, 145, 42) 2px solid;
			.CPhoto {
				height: 100%;
				width: 100%;
				padding: 25px;
			}
		}
	}
}
.Panel__Footer {
	height: calc(100vh - 110px);
}
