.NotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: calc(100vh - 0px);
    .NotFound__error {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
}