.ScrollBar_Dialog {
	overflow-y: scroll;
	width: 98%;
	height: 60%;
	margin: 15px;

	.BlockMapUser {
		display: flex;
		flex-direction: column;
		border: rgb(202, 202, 255) 2px solid;
		height: 150px;
		background-color: rgb(186, 223, 255);
		margin-bottom: 15px;

		.CwrittenBy {
		}

		.Ccontent {
		}

		.Ctimestamp {
		}
	}
}
