.Navbar__User {
	display: flex;
	justify-content: flex-start;
	flex-direction: row-reverse;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgb(219, 219, 219);
	box-shadow: 4px 2px 8px 0px rgb(206, 255, 251);
	margin-bottom: 15px;
	height: 100px;

	.Block {
		display: flex;
		justify-content: flex-end;
		margin-right: 70px;
		width: 100%;
		.Word {
			font-size: 25px;
		}
		.Input {
			margin-left: 15px;
		}
	}

	.OperatorButton {
		margin-left: 15px;
		margin-right: 15px;
		border-radius: 15px;
		font-size: 25px;
		height: 50px;
		width: 120px;
	}

	.OperatorName {
		font-size: 35px;
	}
}
