.Page {
	display: flex;
	flex-direction: row;
	min-height: 100vh;

	.Left__Block {
		display: flex;
		flex-direction: row;
		border-right: solid rgb(226, 223, 223) 2px;
		background-color: rgb(127, 197, 255);
		width: 15%;
	}

	.Right__Block {
		display: flex;
		flex-direction: column;
		width: 85%;
		background-color: rgb(234, 241, 247);
	}
}
