.Formik {
    display: flex;
    height: calc(90vh - 0px);
    align-items: center;
    justify-content: center;
    .Formik__text {
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .Formik__input {
        display: flex;
        margin-top: 5px;
        background-color: rgb(212, 255, 241);
        border-radius: 15px;
        font-size: 25px;
    }
    .Formik_Error {
        width: 40vh;
        word-break: break-word;
    }
    .Formik__label {
        font-size: 25px;
    }
    .Formik__button__flex {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
        margin-bottom: 15px;
        .Formik__button {
            margin-top: 5px;
        }
    }
    .Formik__Container {
        display: flex;
        justify-content: space-between;
        .Formik__button__sign {
            margin-top: 15px;
        }
        .Formik__button__ForgotPass {
            margin-top: 15px;
        }
    }
}