.Form {
    display: flex;
    height: calc(90vh - 0px);
    align-items: center;
    justify-content: center;
    .Form__label__Pass {
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .Form__label {
        font-size: 25px;
    }
    .Form__input {
        display: flex;
        margin-top: 5px;
        background-color: rgb(212, 255, 241);
        border-radius: 5px;
        width: 100%;
        font-size: 25px;
    }
    .Form__buttonRecovery {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
        font-size: 20px;
        margin-top: 55%;
        margin-bottom: 10%;
        border-radius: 5px;
        background-color: rgb(242, 255, 127);
    }
    .Form__Container {
        display: flex;
        justify-content: space-between;
        .Form__button__sign {
            background-color: rgb(127, 255, 138);
            font-size: 20px;
            margin-top: 15px;
            padding: 5px;
            border-radius: 5px;
        }
        .Form__buttonRegistration {
            background-color: rgb(127, 255, 138);
            font-size: 20px;
            margin-top: 15px;
            padding: 5px;
            border-radius: 5px;
        }
    }
}